.service-box {
  border-left: 1px solid var(--color-liner);
  border-right: 1px solid var(--color-liner);
  margin: 0 2rem;
}
.service-box h1 {
  color: black;
  text-align: left;
  font-weight: normal;
}
.service-box p {
  text-align: left;
  color: gray;
}



